:root {
  --accent-default: #3c64b1;
  --accent-dark: #1e4693;
  --accent-light: #5a82cf;
  --gray-lightest: #f4f5f4;
}

.circle-bg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f4f5f4;
  text-align: center;
}

.navbar-container {
  /* padding: 100px; */
  border: 1px solid #e2e5e6;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(117,117,117,1);
  -moz-box-shadow: -1px 2px 5px 0px rgba(117,117,117,1);
  box-shadow: -1px 2px 5px 0px rgba(117,117,117,1);

}

.logo-text {
  font-size: 24px;
  font-family: Lato;
  font-weight: bold;
  color: var(--accent-default);
}

.search-bar {
  background-color: var(--gray-lightest);
  padding: 11px 16px;
  border: none;
  font-size: 16px;
  width: 100%;
  outline: none;
  border-bottom: 1px solid white;
  transition: all ease 150ms;
}

.search-bar.active {
  border-bottom: 1px solid var(--accent-default);
}

.button-link:hover {
    text-decoration: none;
}


.text-navbar {
  color: #003cb3;
}


.text-navbar:hover{
  color: #8c8c8c;
}

.sign-container {
  background-color: #b3cce6;
}
