.fontawesome-icon {
    cursor: pointer !important;
    color: red !important;
}

.fontawesome-icon:hover {
    color: black !important;
}

.tengah-gambar {
    margin-left: 125px !important;
    margin-top: 10px !important;
    height: 100px;
}

.icon-kosong {
    margin-top: 150px !important;
}

.link-home {
    text-decoration: none  !important;
    color: #1e4693;
}

.link-home:hover {
    text-decoration: none  !important;
    color: black  !important;
    font-weight: bold  !important;
}


.button-checkout {
    margin-left: 1160px  !important;
    background-color: #1e4693  !important;
    border: none;
    width: 10%;
}

.button-checkout:hover {
    background-color: green  !important;
    color: white  !important;
}

.wrap-tabel {
    width: 80%;
}


