.icon-profile {
    align-items: center;
    margin-left: 645px;
    margin-top: 50px;
}

.wrap {
    width: 50%;
}

.table-add {
    margin-left: 170px;
    /* border: 1px solid black; */
    width: 75%;
}

.input-text {
    color:  #2d5986;
    background-color: #d8e5f3;
    padding: 11px 16px;
    border: none;
    font-size: 14px;
    width: 100%;
    outline: none;
    border-bottom: 1px solid white;
    transition: all ease 150ms;
}

.edit-wrap {
    margin-left: 600px;
    margin-top: 20px;
}

.input-edit {
    border: 2px solid #2d5986;
    background-color: white;
    color: #2d5986;
    padding: 11px 16px;
    font-size: 14px;
    width: 100%;
    /* outline: none; */
    transition: all ease 150ms;
}


.icon-edit {
    margin-left: 600px;
    margin-top: 0px;
}

.browse{
    margin-left: 570px;
    margin-top: 0px;
}

.icon-edit:hover {
    color: #2d5986;
    cursor: pointer;
}


.submit-button {
    margin-left: 650px;
    margin-top: 20px;
    background-color: #2d5986;

}


.circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #f4f5f4;
    text-align: center;
    /* margin: 3px; */
    margin-top: 20px;
    margin-left: 600px;
  }


